## 1. Load and Preprocess the datasets

In [36]:
# Import packages
import pandas as pd
import geopandas as gpd

In [37]:
# Load the main datasets (access to everyday life dataset)
access_raw = pd.read_csv("Access_to_Everyday_Life_Dataset.csv")
access_raw

,type,geometry/type,geometry/coordinates/0,geometry/coordinates/1,properties/attribute_id,properties/label_type,properties/neighborhood,properties/severity,properties/is_temporary
0,Feature,Point,-122.298981,47.594616,52096165,SurfaceProblem,Atlantic,4.0,False
1,Feature,Point,-122.301071,47.593357,52096166,SurfaceProblem,Atlantic,3.0,False
2,Feature,Point,-122.301079,47.596844,52096167,SurfaceProblem,Atlantic,4.0,False
3,Feature,Point,-122.301071,47.596500,52096168,SurfaceProblem,Atlantic,4.0,False
4,Feature,Point,-122.306274,47.599930,52096365,NoCurbRamp,Atlantic,4.0,False
...,...,...,...,...,...,...,...,...,...
81968,Feature,Point,-122.310753,47.601601,52096160,SurfaceProblem,Atlantic,3.0,False
81969,Feature,Point,-122.297600,47.597965,52096161,SurfaceProblem,Atlantic,3.0,False
81970,Feature,Point,-122.298042,47.599327,52096162,SurfaceProblem,Atlantic,3.0,False
81971,Feature,Point,-122.305794,47.596718,52096163,SurfaceProblem,Atlantic,4.0,False
81972,Feature,Point,-122.306763,47.596554,52096164,SurfaceProblem,Atlantic,3.0,False

In [38]:
# Filter unneccessary columns
access = access_raw[['geometry/coordinates/0', 'geometry/coordinates/1', 'properties/label_type', 'properties/severity']].copy()
access

,geometry/coordinates/0,geometry/coordinates/1,properties/label_type,properties/severity
0,-122.298981,47.594616,SurfaceProblem,4.0
1,-122.301071,47.593357,SurfaceProblem,3.0
2,-122.301079,47.596844,SurfaceProblem,4.0
3,-122.301071,47.596500,SurfaceProblem,4.0
4,-122.306274,47.599930,NoCurbRamp,4.0
...,...,...,...,...
81968,-122.310753,47.601601,SurfaceProblem,3.0
81969,-122.297600,47.597965,SurfaceProblem,3.0
81970,-122.298042,47.599327,SurfaceProblem,3.0
81971,-122.305794,47.596718,SurfaceProblem,4.0
81972,-122.306763,47.596554,SurfaceProblem,3.0

In [39]:
# Load the first additional dataset (2024 Seattle demographics including age and gender grouping)
# Reference: Seattle GeoData (https://data-seattlecitygis.opendata.arcgis.com/datasets/basic-demographics-age-and-gender-seattle-neighborhoods/about)

demo_raw = pd.read_csv("demographics_basic_age_sex_Neighborhoods.csv")
demo_raw

,OBJECTID,Neighborhood Type,Total,Male,Male Under 5 years,Male 5 to 9 years,Male 10 to 14 years,Male 15 to 17years,Male 18 and 19 years,Male 20 years,...,Children_under_18,Working_Age_Adults_18_64,Older_Adults_65_over,Aggregate Age Total,Aggregate Age Male,Aggregate Age Female,Median Age Total,Median Age Male,Median Age Female,Neighborhood Type (outside comp plan areas id)
0,1,CRA,12086,5989,480,312,188,133,86,29,...,1789,7929,2368,541763.6,255666.9,288738.0,44.8,42.6,47.3,CRA
1,2,CRA,5803,2860,135,65,49,0,28,12,...,530,4689,584,225236.6,112036.2,111015.1,38.8,39.1,37.7,CRA
2,3,CRA,9232,4477,334,365,329,118,79,74,...,2366,6122,744,316446.6,154075.6,162133.9,34.2,34.4,34.0,CRA
3,4,CRA,5023,2685,177,232,175,47,15,0,...,1074,3500,449,190119.7,101969.0,90069.6,37.8,37.9,38.5,CRA
4,5,CRA,13984,6776,385,255,370,269,193,7,...,2362,10034,1588,535730.2,249357.1,284797.8,38.3,36.8,39.5,CRA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87,88,CD,105404,51801,2979,2449,2398,1172,442,245,...,17677,74266,13461,4054070.9,1960193.7,2094676.4,38.4,37.8,39.0,CD
88,89,CD,101881,53951,1265,1044,790,409,608,311,...,6662,84698,10521,3561208.0,1853543.3,1735141.3,34.9,34.3,36.2,CD
89,90,CRA,6145,2828,169,153,283,81,44,17,...,1407,3640,1098,270368.2,125762.1,150646.0,43.9,44.4,45.4,CRA
90,91,CRA,15120,7578,404,337,510,176,93,8,...,2746,9912,2462,639514.9,313114.7,327264.5,42.2,41.3,43.3,CRA
91,92,CRA,23800,12146,411,564,551,334,135,39,...,3939,16749,3112,959481.9,470830.5,479373.3,40.3,38.7,41.1,CRA

In [40]:
# Filter unnecessary columns
demo = demo_raw[['Total', 'Neighborhood Name', 'Older_Adults_65_over',
                 'Children_under_18']].copy()
demo

,Total,Neighborhood Name,Older_Adults_65_over,Children_under_18
0,12086,Alki/Admiral,2368,1789
1,5803,North Delridge,584,530
2,9232,High Point,744,2366
3,5023,Riverview,449,1074
4,13984,Roxhill/Westwood,1588,2362
...,...,...,...,...
87,105404,Council District 6,13461,17677
88,101881,Council District 7,10521,6662
89,6145,Arbor Heights,1098,1407
90,15120,Fauntleroy/Seaview,2462,2746
91,23800,West Seattle Junction/Genesee Hill,3112,3939

In [41]:
# Load the second additional dataset (Vehicle Collisions Data)
# Reference: Seattle GeoData (https://data-seattlecitygis.opendata.arcgis.com/datasets/504838adcb124cf4a434e33bf420c4ad_0/explore?location=47.614571%2C-122.333041%2C11)
accident_raw = pd.read_csv("SDOT_Collisions_All_Years.csv")
accident_raw.head()

/var/folders/mb/s82jd4yn1yj02b4yyfvt8qcr0000gn/T/ipykernel_1123/4157334892.py:3: DtypeWarning: Columns (0: INATTENTIONIND, 1: SHAREDMICROMOBILITYCD, 2: SHAREDMICROMOBILITYDESC) have mixed types. Specify dtype option on import or set low_memory=False.
  accident_raw = pd.read_csv("SDOT_Collisions_All_Years.csv")

,OBJECTID,SE_ANNO_CAD_DATA,INCKEY,COLDETKEY,REPORTNO,STATUS,ADDRTYPE,INTKEY,LOCATION,EXCEPTRSNCODE,...,HITPARKEDCAR,SPDCASENO,Source of the collision report,Source description,Added date,Modified date,SHAREDMICROMOBILITYCD,SHAREDMICROMOBILITYDESC,x,y
0,86862579,System.Byte[],205600,205760,3737771,Matched,Block,NaN,E PIKE ST BETWEEN BROADWAY AND 10TH AVE,NaN,...,Y,15-369047,PTCR,Police Traffic Collision Report,10/28/2015 12:00:00 AM,12/7/2015 12:00:00 AM,NaN,NaN,1.273727e+06,227540.102941
1,86862580,System.Byte[],316000,317500,3814591,Unmatched,Block,NaN,BOYLSTON AVE E BETWEEN E HARRISON ST AND E REP...,NaN,...,N,NaN,PTCR,Police Traffic Collision Report,3/13/2019 12:00:00 AM,NaN,NaN,NaN,1.273058e+06,230649.591968
2,86862581,System.Byte[],202800,202940,3737876,Matched,Block,NaN,E YESLER WAY BETWEEN 22ND AVE AND 23RD AVE,NaN,...,N,2015-319416,PTCR,Police Traffic Collision Report,9/23/2015 12:00:00 AM,10/2/2015 12:00:00 AM,NaN,NaN,1.277850e+06,222932.535512
3,86862582,System.Byte[],91400,91400,3276853,Matched,Intersection,24151.0,8TH AVE NW AND NW 75TH ST,NaN,...,N,08-481359,PTCR,Police Traffic Collision Report,12/31/2008 12:00:00 AM,3/6/2009 12:00:00 AM,NaN,NaN,1.262911e+06,252992.584887
4,86862583,System.Byte[],115600,115600,3376088,Matched,Block,NaN,NW 39TH ST BETWEEN LEARY WAY NW AND 3RD AVE NW,NaN,...,N,10-72450,PTCR,Police Traffic Collision Report,3/5/2010 12:00:00 AM,12/19/2014 12:00:00 AM,NaN,NaN,1.264070e+06,242346.292780

In [42]:
accident_raw.columns

Index(['OBJECTID', 'SE_ANNO_CAD_DATA', 'INCKEY', 'COLDETKEY', 'REPORTNO',
       'STATUS', 'ADDRTYPE', 'INTKEY', 'LOCATION', 'EXCEPTRSNCODE',
       'EXCEPTRSNDESC', 'SEVERITYCODE', 'SEVERITYDESC', 'COLLISIONTYPE',
       'PERSONCOUNT', 'PEDCOUNT', 'PEDCYLCOUNT', 'VEHCOUNT', 'INJURIES',
       'SERIOUSINJURIES', 'FATALITIES', 'INCDATE', 'INCDTTM', 'JUNCTIONTYPE',
       'SDOT_COLCODE', 'SDOT_COLDESC', 'INATTENTIONIND', 'UNDERINFL',
       'WEATHER', 'ROADCOND', 'LIGHTCOND', 'DIAGRAMLINK', 'REPORTLINK',
       'PEDROWNOTGRNT', 'SDOTCOLNUM', 'SPEEDING', 'STCOLCODE', 'ST_COLDESC',
       'SEGLANEKEY', 'CROSSWALKKEY', 'HITPARKEDCAR', 'SPDCASENO',
       'Source of the collision report', 'Source description', 'Added date',
       'Modified date', 'SHAREDMICROMOBILITYCD', 'SHAREDMICROMOBILITYDESC',
       'x', 'y'],
      dtype='str')

In [43]:
# Filter unnecessary columns and rows

## Filter columns
accident = accident_raw[['PEDCOUNT', 'COLLISIONTYPE',      # Accident type
                         'INJURIES', 'SERIOUSINJURIES', 'FATALITIES',      # Severity of accidents
                         'x', 'y']].copy()       # geometry coordinates

## Filter rows
accident = accident[accident['PEDCOUNT'] > 0]      # Only pedestrian related data

accident

,PEDCOUNT,COLLISIONTYPE,INJURIES,SERIOUSINJURIES,FATALITIES,x,y
7,1,Pedestrian,1,0,0,1.273231e+06,227059.110813
8,1,Pedestrian,1,1,0,1.265492e+06,260771.907135
14,1,Pedestrian,1,0,0,1.268098e+06,226167.579164
52,1,Pedestrian,1,0,0,1.271310e+06,225869.082523
61,1,Pedestrian,1,0,0,1.260964e+06,202171.180547
...,...,...,...,...,...,...,...
258783,1,Pedestrian,1,0,0,1.268285e+06,227956.966429
258788,1,Pedestrian,1,0,0,1.268484e+06,260831.207231
258824,1,Pedestrian,0,0,1,1.279256e+06,213672.110223
258854,1,Other,1,0,0,1.268292e+06,258687.882557
258860,1,Pedestrian,0,0,0,1.280591e+06,265788.379588

In [44]:
# Mapping three datasets based on the same Neighborhood standard
# Using Seattle Neighborhood Polygon dataset ("tract20_king_county")
    # demo datasets doesn't have Neighborhood polygon data -> Use Seattle Geodata standard polygon
# Reference: Seattle GeoData (https://data-seattlecitygis.opendata.arcgis.com/datasets/SeattleCityGIS::2020-census-tracts-seattle/about)

In [45]:
# Load polygon tract data
polygon = gpd.read_file("tract20_king_county.shp")

In [46]:
polygon.head() # GEN_ALIAS column has the same Neighborhood with demo dataset)

,GEOID20,GROSS_ACRE,LAND_ACRES,WATER_ACRE,NAME,TRACT_NUMB,BASENAME,UVDA_AREA,CRA_NO,CRA_GRP,GEN_ALIAS,DETL_NAMES,C_DISTRICT,geometry
0,53033000402,444.493643,444.527261,0.000000,Census Tract 4.02,402,4.02,Bitter Lake Village,9.1,9,Broadview/Bitter Lake,"Broadview, Bitter Lake",5,"POLYGON ((1267598.433 267477.138, 1267788.924 ..."
1,53033000403,180.930716,165.408389,15.535762,Census Tract 4.03,403,4.03,Bitter Lake Village,9.1,9,Broadview/Bitter Lake,"Broadview, Bitter Lake",5,"POLYGON ((1265848.993 271492.767, 1265842.812 ..."
2,53033000700,319.838996,319.862596,0.000000,Census Tract 7,700,7,Lake City,8.2,8,Olympic Hills/Victory Heights,"Lake City, Victory Heights, Olympic Hills, Pin...",5,"POLYGON ((1277629.018 265876.292, 1277833.975 ..."
3,53033003302,154.942826,154.952619,0.000000,Census Tract 33.02,3302,33.02,Ballard,10.2,10,Whittier Heights,"Whittier Heights, Loyal Heights, Crown Hill",6,"POLYGON ((1262877.612 251639.607, 1262891.039 ..."
4,53033003601,166.571397,166.583375,0.000000,Census Tract 36.01,3601,36.01,Green Lake - Roosevelt,9.4,9,Green Lake,"Green Lake, Meridian, Roosevelt, Woodland Park",6,"POLYGON ((1274839.167 250046.877, 1274833.189 ..."

In [47]:
# Add "Neighborhood Name" to the main access dataset (mapping to "Neighborhood Name in demo dataset)

# access_raw → GeoDataFrame
gdf_access = gpd.GeoDataFrame(
    access,
    geometry=gpd.points_from_xy(access['geometry/coordinates/0'], access_raw['geometry/coordinates/1']),
    crs="EPSG:4326"
)

# Match with tract CRS
polygon_4326 = polygon.to_crs("EPSG:4326")

# spatial join
access_neigh = gpd.sjoin(
    gdf_access,
    polygon_4326[['GEN_ALIAS', 'geometry']],
    how="left",
    predicate="within"
).drop(columns=['geometry', 'geometry/coordinates/0', 'geometry/coordinates/1', 'index_right'])

access_neigh

      properties/label_type  properties/severity       GEN_ALIAS
0            SurfaceProblem                  4.0  Madrona/Leschi
1            SurfaceProblem                  3.0  Madrona/Leschi
2            SurfaceProblem                  4.0  Madrona/Leschi
3            SurfaceProblem                  4.0  Madrona/Leschi
4                NoCurbRamp                  4.0    Judkins Park
...                     ...                  ...             ...
81968        SurfaceProblem                  3.0    Judkins Park
81969        SurfaceProblem                  3.0  Madrona/Leschi
81970        SurfaceProblem                  3.0  Madrona/Leschi
81971        SurfaceProblem                  4.0    Judkins Park
81972        SurfaceProblem                  3.0    Judkins Park

[81973 rows x 3 columns]

In [48]:
# Add "Neighborhood Name" to the accident dataset (mapping to "Neighborhood Name" in other datasets)

# accident → GeoDataFrame
gdf_accident = gpd.GeoDataFrame(
    accident,
    geometry=gpd.points_from_xy(accident.x, accident.y),
    crs="EPSG:2926"
)

# Match with tract CRS
polygon_2926 = polygon.to_crs(gdf_accident.crs)

# spatial join
accident_neigh = gpd.sjoin(
    gdf_accident,
    polygon_2926[['GEN_ALIAS', 'geometry']],
    how="left",
    predicate="within"
).drop(columns=['geometry', 'x', 'y', 'index_right'])

accident_neigh

,PEDCOUNT,COLLISIONTYPE,INJURIES,SERIOUSINJURIES,FATALITIES,GEN_ALIAS
7,1,Pedestrian,1,0,0,Capitol Hill
8,1,Pedestrian,1,1,0,Greenwood/Phinney Ridge
14,1,Pedestrian,1,0,0,Belltown
52,1,Pedestrian,1,0,0,First Hill
61,1,Pedestrian,1,0,0,High Point
...,...,...,...,...,...,...
258783,1,Pedestrian,1,0,0,Cascade/Eastlake
258788,1,Pedestrian,1,0,0,Licton Springs
258824,1,Pedestrian,0,0,1,Mt. Baker/North Rainier
258854,1,Other,1,0,0,Licton Springs
258860,1,Pedestrian,0,0,0,Olympic Hills/Victory Heights

In [49]:
# Mapping demo['Neighborhood Name'] to GEN_ALIAS
demo_n = set(demo['Neighborhood Name'].dropna().unique())
gen_alias_n = set(access_neigh['GEN_ALIAS'].dropna().unique()).union(
    set(accident_neigh['GEN_ALIAS'].dropna().unique())
)

n_to_map = sorted(demo_n - gen_alias_n)
n_to_map

['23rd & Union-Jackson',
 'Admiral',
 'Aurora-Licton Springs',
 'Bitter Lake Village',
 'Council District 1',
 'Council District 2',
 'Council District 3',
 'Council District 4',
 'Council District 5',
 'Council District 6',
 'Council District 7',
 'Crown Hill',
 'Downtown',
 'Eastlake',
 'First Hill/Capitol Hill',
 'Greater Duwamish',
 'Greenwood-Phinney Ridge',
 'Lake City',
 'Madison-Miller',
 'Morgan Junction',
 'Mt Baker',
 'North Beacon Hill',
 'Northgate',
 'Othello',
 'Outside Villages',
 'Roosevelt',
 'South Lake Union',
 'Upper Queen Anne',
 'Uptown',
 'West Seattle Junction',
 'Westwood-Highland Park']

In [50]:
gen_to_map = sorted(gen_alias_n - demo_n)
gen_to_map

[]

In [51]:
  gen_alias_n

{'Alki/Admiral',
 'Arbor Heights',
 'Ballard',
 'Beacon Hill',
 'Belltown',
 'Broadview/Bitter Lake',
 'Capitol Hill',
 'Cascade/Eastlake',
 'Cedar Park/Meadowbrook',
 'Central Area/Squire Park',
 'Columbia City',
 'Downtown Commercial Core',
 'Duwamish/SODO',
 'Fauntleroy/Seaview',
 'First Hill',
 'Fremont',
 'Georgetown',
 'Green Lake',
 'Greenwood/Phinney Ridge',
 'Haller Lake',
 'High Point',
 'Highland Park',
 'Interbay',
 'Judkins Park',
 'Laurelhurst/Sand Point',
 'Licton Springs',
 'Madison Park',
 'Madrona/Leschi',
 'Magnolia',
 'Miller Park',
 'Montlake/Portage Bay',
 'Mt. Baker/North Rainier',
 'North Beach/Blue Ridge',
 'North Beacon Hill/Jefferson Park',
 'North Capitol Hill',
 'North Delridge',
 'Northgate/Maple Leaf',
 'Olympic Hills/Victory Heights',
 'Pioneer Square/International District',
 'Queen Anne',
 'Rainier Beach',
 'Ravenna/Bryant',
 'Riverview',
 'Roxhill/Westwood',
 'Seward Park',
 'South Beacon Hill/NewHolly',
 'South Park',
 'Sunset Hill/Loyal Heights',
 'University District',
 'Wallingford',
 'Wedgwood/View Ridge',
 'West Seattle Junction/Genesee Hill',
 'Whittier Heights'}

In [52]:
# match neighborhood
demo_neigh = demo.copy()

mapping = {
    "23rd & Union-Jackson": "Judkins Park",
    "Aurora-Licton Springs": "Licton Springs",
    "Admiral": "Alki/Admiral",
    "Bitter Lake Village": "Broadview/Bitter Lake",
    "Broadview/Bitterlake": "Broadview/Bitter Lake",
    "Crown Hill": "North Beach/Blue Ridge",
    "Downtown": "Downtown Commercial Core",
    "Greater Duwamish": "Duwamish/SODO",
    "Duwamisu/SODO": "Duwamish/SODO",
    "Eastlake": "Montlake/Portage Bay",
    "Greenwood-Phinney Ridge": "Greenwood/Phinney Ridge",
    "First Hill/Capitol Hill": "Capitol Hill",
    "Lake City": "Olympic Hills/Victory Heights",
    "Madison-Miller": "First Hill",
    "Morgan Junction": "Fauntleroy/Seaview",
    "Mt Baker": "Mt. Baker/North Rainier",
    "North Beacon Hill": "North Beacon Hill/Jefferson Park",
    "Northgate": "Northgate/Maple Leaf",
    "Othello": "Beacon Hill",
    "Roosevelt": "Green Lake",
    "South Lake Union": "Cascade/Eastlake",
    "Upper Queen Anne": "Queen Anne",
    "Uptown": "Queen Anne",
    "West Seattle Junction": "West Seattle Junction/Genesee Hill"
}

demo_neigh["GEN_ALIAS"] = (
    demo_neigh["Neighborhood Name"]
    .replace(mapping)
)

In [53]:
demo_neigh

,Total,Neighborhood Name,Older_Adults_65_over,Children_under_18,GEN_ALIAS
0,12086,Alki/Admiral,2368,1789,Alki/Admiral
1,5803,North Delridge,584,530,North Delridge
2,9232,High Point,744,2366,High Point
3,5023,Riverview,449,1074,Riverview
4,13984,Roxhill/Westwood,1588,2362,Roxhill/Westwood
...,...,...,...,...,...
87,105404,Council District 6,13461,17677,Council District 6
88,101881,Council District 7,10521,6662,Council District 7
89,6145,Arbor Heights,1098,1407,Arbor Heights
90,15120,Fauntleroy/Seaview,2462,2746,Fauntleroy/Seaview
91,23800,West Seattle Junction/Genesee Hill,3112,3939,West Seattle Junction/Genesee Hill

In [54]:
access_neigh.to_csv("access.csv", index=False)
accident_neigh.to_csv("accident.csv", index=False)
demo_neigh.to_csv("demographics.csv", index=False)